<div class="container">
  <h3 mat-dialog-title>Add new user</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!-- <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div> -->

    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Employee</mat-label>
        <mat-select [(ngModel)]="data.employeeId" name="employeeId"  color="accent" required>
          <mat-option *ngFor="let s of employees" [value]="s.id">
            {{s.firstName+' '+s.lastName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Username" [(ngModel)]="data.username" name="username" required />
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Password" [(ngModel)]="data.password" name="password" maxlength="10" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Email" [(ngModel)]="data.email" name="email">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-label>User Type</mat-label>
        <mat-select [(ngModel)]="data.userType" name="userType"  color="accent" >
          <mat-option *ngFor="let s of userTypes" [value]="s">
            {{s}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="data.status" name="status"  color="accent" >
          <mat-option *ngFor="let s of statuses" [value]="s">
            {{s}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-raised-button (click)="onNoClick()" tabindex="-1" color="warn">Cancel</button>
    </div>
  </form>
</div>
