<div class="invoice-box-header">
  <button (click)="print()" mat-raised-button>GENERATE PDF</button>
  <button (click)="email()" mat-raised-button class="nextbutton">EMAIL INVOICE</button>
  <button (click)="email()" mat-raised-button class="nextbutton">PREVIEW</button>
  <button (click)="email()" mat-raised-button class="nextbutton">SEND FOR APPROVAL</button>
  <button (click)="email()" mat-raised-button class="nextbutton">VIEW OLD INVOICES</button>
</div>
<div class="invoice-box" id="html2Pdf" #html2Pdf>

  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">
        <table class="table">
          <tr>
            <td class="title" >
              <img src="../../../assets/blueverse_logo_live.png" style="width: 100%; max-width: 100px" />
            </td>

            <td>
              Invoice #: s<br />
              Created: January 1, 2015<br />
              Due: February 1, 2015
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="4">
        <table class="table">
          <tr>
            <td >
              Sparksuite, Inc.<br />
              12345 Sunny Road<br />
              Sunnyville, CA 12345
            </td>

            <td>
              Acme Corp.<br />
              John Doe<br />
              john@example.com
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td colspan="2">Term</td>
      <td colspan="2">Due Date</td>
    </tr>

    <tr class="details">
      <td colspan="2">30d</td>
      <td colspan="2">25/10/2022</td>
    </tr>

    <tr class="heading">
      <td>Product</td>
      <td>Per Hour Cost</td>
      <td>Total Hours</td>
      <td>Cost</td>
    </tr>

    <tr class="item">
      <td>Yogesh Rajput</td>
      <td>$10</td>
      <td>10</td>
      <td>$100.00</td>
    </tr>

    <!-- <tr class="item">
      <td>Hosting (3 months)</td>

      <td>$75.00</td>
    </tr>

    <tr class="item last">
      <td>Domain name (1 year)</td>

      <td>$10.00</td>
    </tr> -->

    <tr class="total">
      <td></td>
      <td></td>
      <td></td>
      <td>Total Cost: $100.00</td>
    </tr>
  </table>
</div>
