<div class="body">
  <div class="box-form">
    <div class="left">
      <div class="overlay">
      <h1>{{companyName}}.</h1>
      <p>We offer flexible, scalable IT support with quality assurance as standard.</p>
      <span>
        <p>Login with social media</p>
        <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </span>
      </div>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSignIn()">
      <div class="right">
      <h5>Login</h5>
      <br/><br/>
      <p>Don't have an account? <a href="#">Create Your Account</a> it takes less than a minute</p>
      <div class="inputs">
        <input type="text" placeholder="user name" formControlName="username">
        <br>
        <input type="password" placeholder="password" formControlName="password">
      </div>

        <br><br>

      <div class="remember-me--forget-password">
          <!-- Angular -->
    <label>
      <input type="checkbox" name="item" checked/>
      <span class="text-checkbox">Remember me</span>
    </label>
        <p>forget password?</p>
      </div>

        <br>
        <button type="submit">Login</button>
    </div>
  </form>
  </div>
</div>
