<button mat-raised-button (click)="onNoClick()" tabindex="-1" color="warn" class="cancelBtn">X</button>
<div class="container">
  <h3 mat-dialog-title>Add Employee</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput #input class="form-control" placeholder="First Name" [(ngModel)]="data.firstName"
          name="firstName" required />
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput #inputstate class="form-control" placeholder="Last Name" [(ngModel)]="data.lastName"
          name="lastName" maxlength="10" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [(ngModel)]="data.email" name="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone Number" [(ngModel)]="data.phoneNumber" name="phoneNumber">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Employee Type</mat-label>
        <mat-select [(ngModel)]="data.employeeType" name="employeeType" color="accent">
          <mat-option *ngFor="let s of empTypes" [value]="s">
            {{s}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="data.status" name="status" color="accent">
          <mat-option *ngFor="let s of statuses" [value]="s">
            {{s}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="confirmAdd()">Save</button>
    </div>
  </form>
</div>