<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Directory">
    <!-- List of employees with contact and manager details -->
    <google-chart  [data]="tableChart"></google-chart>
  </mat-tab>
  <mat-tab label="Org Structure">
    <!-- Hierarchy chart to show Org Structure -->
    <google-chart [data]="orgChart"></google-chart>
  </mat-tab>
  <mat-tab label="Client Deployed">
    <!-- Client wise employee list -->
    <google-chart  [data]="clientChart"></google-chart>
  </mat-tab>
</mat-tab-group>
