<button mat-raised-button (click)="onNoClick()" tabindex="-1" color="warn" class="cancelBtn">X</button>
<h2 mat-dialog-title>Add Job</h2>

<form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm"></form>

<div class="example-container">
  <mat-form-field appearance="outline">
    <mat-label>Job Name</mat-label>
    <input matInput #input class="form-control" placeholder="JobName" [(ngModel)]="data.jobName" name="jobName"
      required />
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Profile</mat-label>
    <input matInput #input class="form-control" placeholder="Profile" [(ngModel)]="data.profile" name="profile"
      required />
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput #input class="form-control" placeholder="Description" [(ngModel)]="data.description"
      name="description" required />
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-raised-button type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
      (click)="confirmAdd()">Apply</button>
  </div>