<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Employee List">
    <div class="mat-elevation-z8">

      <div class="form">
        <span style="font-size: 20px;margin-left:20px">Employee List</span>
        <span class="spacer"></span>
        <mat-form-field floatPlaceholder="never" color="accent" style="margin-left: 50px;">
          <input matInput #filter placeholder="Filter users">
        </mat-form-field>
        <button mat-icon-button (click)="refresh()" style="float: right;">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>

      <mat-table #table [dataSource]="dataSource!" matSort class="mat-cell">
        ng update @angular/cli @angular/core
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>First name</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.firstName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.phoneNumber}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="employeeType">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Type</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip *ngIf="row.employeeType!=='PERMANENT' && row.employeeType!=='CONTRACTOR'">---</mat-chip>
              <mat-chip *ngIf="row.employeeType=='PERMANENT'" color="primary" selected>Permanent</mat-chip>
              <mat-chip  *ngIf="row.employeeType=='CONTRACTOR'"color="warn" selected>Contractor</mat-chip>
            </mat-chip-list>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip *ngIf="row.status!=='ACTIVE' && row.status!=='INACTIVE'">No Status</mat-chip>
              <mat-chip *ngIf="row.status=='ACTIVE'" color="primary" selected>Active</mat-chip>
              <mat-chip  *ngIf="row.status=='INACTIVE'"color="warn" selected>Inactive</mat-chip>
            </mat-chip-list>
          </mat-cell>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button  (click)="addNew()" >
              <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              <!-- <span>Create New User</span> -->
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let row; let i=index;">
            <button mat-icon-button color="primary" (click)="startEdit(i, row.id, row.firstName, row.lastName, row.email, row.phoneNumber, row.employeeType, row.status)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="deleteItem(i, row.id, row.firstName, row.lastName)">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>


      <div class="no-results" [style.display]="dataSource?.renderedData?.length == 0 ? '' : 'none'">
        No results
      </div>

      <mat-paginator #paginator
                     [length]="dataSource?.filteredData != null ? dataSource?.filteredData!.length :0"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="Employee Basic Info">
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <div class="mat-elevation-z8-form">
      <mat-form-field appearance="fill">
        <mat-label>Employee</mat-label>
        <mat-select  name="employee"  color="accent" [(ngModel)]="basicInfo.employeeId" (selectionChange)="onChangeEmployee($event)">
          <mat-option *ngFor="let s of employees" [value]="s.id">
            {{s.firstName+" "+s.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Father Name</mat-label>
        <input matInput [(ngModel)]="basicInfo.fatherName" name="fatherName">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mother Name</mat-label>
        <input matInput [(ngModel)]="basicInfo.motherName" name="motherName">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Blood Group</mat-label>
        <input matInput [(ngModel)]="basicInfo.bloodGroup" name="bloodGroup">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Personal Email Id</mat-label>
        <input matInput [(ngModel)]="basicInfo.personalEmailId" name="personalEmailId">
      </mat-form-field>

      <mat-form-field color="accent" appearance="fill"  >
        <mat-label>Choose a date of birth</mat-label>
        <input matInput [matDatepicker]="dateOfBirth" [(ngModel)]="basicInfo.dateOfBirth" name="dateOfBirth">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
        <mat-datepicker #dateOfBirth></mat-datepicker>
      </mat-form-field>

      <!-- <mat-form-field appearance="fill"> -->
        <mat-checkbox class="example-margin" [(ngModel)]="basicInfo.isMarried" name="isMarried">Is Married</mat-checkbox>
      <!-- </mat-form-field>
      
        
      <mat-form-field appearance="fill"> -->

        <mat-form-field appearance="fill">
          <mat-label>Marital Status</mat-label>
          <input matInput [(ngModel)]="basicInfo.maritalStatus" name="maritalStatus">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Spouse Name</mat-label>
          <input matInput [(ngModel)]="basicInfo.spouseName" name="spouseName">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Permanent Address</mat-label>
          <input matInput [(ngModel)]="basicInfo.permanentAddress " name="permanentAddress">
        </mat-form-field>
        
        <mat-checkbox class="example-margin"[(ngModel)]="basicInfo.isBothAddressSame" name="isBothAddressSame">Is Both Address Same</mat-checkbox>
      <!-- </mat-form-field> -->

      <mat-form-field appearance="fill">
        <mat-label>Current Address</mat-label>
        <input matInput [(ngModel)]="basicInfo.currentAddress" name="currentAddress">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <input matInput [(ngModel)]="basicInfo.gender" name="gender">
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAddBasicInfo()">Save</button>
    </div>
  </form>
  </mat-tab>
  <mat-tab label="Employee Contact">
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <div class="mat-elevation-z8-form">
      <mat-form-field appearance="fill">
        <mat-label>Employee</mat-label>
        <mat-select  name="employee"  color="accent" [(ngModel)]="basicInfo.employeeId" (selectionChange)="onChangeEmployee_Contact($event)">
          <mat-option *ngFor="let s of employees" [value]="s.id">
            {{s.firstName+" "+s.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      
      <mat-form-field appearance="fill">
        <mat-label>Personal Email Id</mat-label>
        <input matInput [(ngModel)]="contact.personalEmailId" name="personalEmailId">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput [(ngModel)]="contact.phoneNumber" name="phoneNumber">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Work Email </mat-label>
        <input matInput [(ngModel)]="contact.workEmail" name="workEmail">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Emergency Contact Name </mat-label>
        <input matInput [(ngModel)]="contact.emergencyContactName" name="emergencyContactName">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Emergency Contact Number</mat-label>
        <input matInput [(ngModel)]="contact.emergencyContactNumber" name="emergencyContactNumber">
      </mat-form-field>



      
      
     

       

      <button mat-raised-button type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAddContact()">Save</button>
    </div>
  </form>
  </mat-tab>
</mat-tab-group>


