.fill-remaining-space {
  float: right;
}

.mat-chip {
  font-size: 11px;
  font-weight: 500;
}

.mat-standard-chip {
min-height: 20px;
}

.mat-icon-button {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.mat-header-cell {
  color: #505050;
  font-size: 14px;
}

.form{
  height: 40px;
  width:100%;
}

.fill-remaining-space {
  flex: 1 1 auto !important;
}

.cancelBtn{
  float: right;
  min-width: 38px !important;
}
